body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    background-image: url(bgImg.jfif);
}

.wrapper {
    margin-left: 15%;
    margin-right: 15%;
    border-style: outset;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;

}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.stack {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.stack img {
    margin-left: 5px;
    margin-right: 5px;
    width: 175px;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: block
}

table img {
    width: 175px;
}

img {
    width: 250px;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: small;
    width: 250px;
    border: double;
}

.figures {
    width: 400px;
}

img:hover {
    transform: scale(1.75);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;



  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: #111;
  }